section.clj-templates
  div
        h1 
          span.paren (
          span clj-templates
          span.paren )
        img.screenshot(src='images/clj-templates.png')
        div.description.
          Search index webapp for finding Clojure and ClojureScript templates.
