section.doom-drop
  div
        img.doom-drop-header(src='images/doom-drop-logo.png')
        video.doom-drop-clip(controls poster='images/doom-drop-thumbnail.png')
            source(src="images/doom-drop-clip.mp4" type="video/mp4")
        div.icons
            a(href='https://super.magfest.org/gaming/indie-videogames' target='_blank')
                img(src='images/external-link.svg')

        div.description
            p Doom metal-themed block puzzler. Match up blood offerings and find the right moment to sacrifice them to the elder gods. Make haste or meet your demise...

