section.game-jams
  div
        img.game-jams-header(src='images/up-to-go-down-logo.png')
        img.game-jams-header(src='images/amphibifans-logo.png')
        img.game-jams-header(src='images/solemates.png')
        div.description
            p.
                Various game jam games.
            div #[a(href="https://itch.io/jam/flip-out" target="_blank") Flip Out Jam 2025] — #[a(href="https://dexterminator.itch.io/up-to-go-down" target="_blank") Up To Go Down]
            div #[a(href="https://itch.io/jam/lever-up" target="_blank") Lever Up Jam 2024] —  #[a(href="https://dexterminator.itch.io/amphibifans" target="_blank") Amphibifans]
            div #[a(href="https://v3.globalgamejam.org/2021/games" target="_blank") Global Game Jam 2021] —  #[a(href="https://dexterminator.itch.io/solemates" target="_blank") Solemates]
