header
  nav
    .nav-content
      a#me-nav.active(onclick='scrollToTop()') Me
      a#projects-nav(onclick='scrollToId("projects-header")') Projects
      a#cv-nav(onclick='scrollToId("cv-header")') CV
      a#contact-nav(onclick='scrollToId("contact-header")') Contact
