section.imperimetric
  div
        h1 imperimetric
        a(href='https://www.imperimetric.com/' target='_blank')
            img.screenshot(src='images/imperimetric.png')
        div.icons
            a(href='https://www.imperimetric.com/' target='_blank')
                img(src='images/world.svg')
            a(href='https://github.com/Dexterminator/imperimetric' target='_blank')
                img(src='images/github.svg')
        div.description
            p.
                Webapp for converting entire texts between different systems of measurement, such as
                imperial to metric.
