doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dexter Gramfors
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='images/favicon.ico')
    script(src='https://code.jquery.com/jquery-git2.min.js')
    script(src='js/bundle.min.js')
  body
    include header
    #pagewrap
      block content
