- var age = new Date(Date.now() - new Date('1991-10-12').getTime()).getUTCFullYear() - 1970

h1#me-header DEXTER GRAMFORS
hr

img(src='images/portrait.png', title="Me, laughing at barbeque sauce")

div#about-me
  p.
    Hobbyist game dev, software engineer, and musician.
  p.
    -> Swipe for some stuff I made.
