section.me
  div
    h1#me-header DEXTER GRAMFORS
    img.portrait(src='images/portrait.png', title='Me, laughing at barbeque sauce')
    div.icons
      a(href='https://github.com/Dexterminator' target='_blank')
        img(src='images/github.svg')
      a(href='https://twitter.com/DexterGramfors' target='_blank')
        img(src='images/twitter.svg')
      a(href='https://www.linkedin.com/in/dextergramfors' target='_blank')
        img(src='images/linkedin.svg')
      a(href='mailto:dexter.gramfors@gmail.com' target='_blank')
        img(src='images/email.svg')
      a(href='https://letterboxd.com/curlyfry_' target='_blank')
        img(src='images/letterboxd.svg')
    div.description
      p.
        Software engineer, musician, and hobbyist game dev.
      p.
        Scroll 👇 for some stuff I made.
