- var age = new Date(Date.now() - new Date('1991-10-12').getTime()).getUTCFullYear() - 1970

h1#me-header DEXTER GRAMFORS
p Who's that?
hr
br

img(src='images/yellowstone.jpg')

p#about-me.
  A #{age}-year-old Swedish software engineer, working at TriOptima AB.
  I like to code, play video games and electric guitar, and to learn new things.
p Some me-related links:
  ul
    li
      a(href='https://trakt.tv/users/dexterminator/ratings/movies/all/highest', target='_blank') Movies I've rated
    li
      a(href='http://www.kth.se/en', target='_blank') Where I studied
    li
      a(href='http://www.trioptima.com/', target='_blank') Where I work
    li
      a(href='https://github.com/dexterminator', target='_blank') My GitHub
