section.me
  div
    h1#me-header DEXTER GRAMFORS
    img.portrait(src='images/portrait.png', title='Me, laughing at barbecue sauce')
    div.icons
      a(href='mailto:dexter.gramfors@gmail.com' target='_blank')
        img(src='images/email.svg')
      a(href='https://bsky.app/profile/dxtr.se' target='_blank')
        img(src='images/bsky.svg')
      a(href='https://store.steampowered.com/search/?developer=Dexter%20Gramfors' target='_blank')
          img(src='images/steam.svg')
      a(href='https://dexterminator.itch.io' target='_blank')
        img(src='images/itchdotio-white.svg')
      a(href='https://github.com/Dexterminator' target='_blank')
        img(src='images/github.svg')
      a(href='https://www.linkedin.com/in/dextergramfors' target='_blank')
        img(src='images/linkedin.svg')
      a(href='https://letterboxd.com/curlyfry_' target='_blank')
        img(src='images/letterboxd.svg')
    div.description
      p.
        NYC-based software engineer, musician, esports broadcaster, and indie game dev.
      div.scroll-down-row
        div Scroll
        div.swipe-down-anim 👇
        div for some stuff I made.
