section.me
  div
    h1#me-header DEXTER GRAMFORS
    img.portrait(src='images/portrait.png', title="Me, laughing at barbeque sauce")
    div.description
      p.
        Software engineer, musician, and hobbyist game dev.
      p.
        Scroll 👇 for some stuff I made.
