h1#projects-header.section-header PROJECTS
p Programming projects I have worked on.
hr

// Attack Angle
h2
    a(href='http://game.dxtr.se' target='_blank') Attack Angle
p.
  A game for up to four players where you ricochet bullets to hit your opponents.
img(src='images/attack-angle.gif')
p.
hr

// Imperimetric
h2
  a(href='http://www.imperimetric.com' target='_blank') Imperimetric
p.
  Webapp for converting entire texts between different systems of measurement, such as
  imperial to metric.
img(src='images/imperimetric.png')
ul
  li
    a(href='https://github.com/Dexterminator/imperimetric') Imperimetric on GitHub
hr

// clj-templates
h2
  a(href='http://clj-templates.com' target='_blank') clj-templates
p.
  Search index webapp for finding Clojure and ClojureScript templates.
img(src='images/clj-templates.png')
ul
  li
    a(href='https://github.com/Dexterminator/clj-templates') clj-templates on GitHub
hr

//- // what's hAppening
//- h2 what's hAppening
//- img#whatshappening-1(src='images/whatshappening-screenshot.png')
//- img#whatshappening-2(src='images/whatshappening-screenshot-2.png')
//- p.
//-   Project assignment at KTH, together with nine other students.
//-   An app that identifies and visualizes clusters of instagram posts, and displays
//-   media from them.
//- hr
//-
//- // Syntone
//- h2 Syntone
//- img(src='images/syntone.png')
//- p.
//-   Collaborative sequencer-like webapp. Uses Pure Data (with the help of #[a(href='https://github.com/sebpiq/WebPd') WebPd])
//-   and WebSockets to provide a real-time music composing experience.
//- ul
//-   li
//-     a(href='https://github.com/Dexterminator/syntone') Syntone on GitHub
//- hr
//-
//- // Lauzer Wars
//- h2 Lauzer Wars
//- img(src='images/lauzer-screenshot2.png', width='300px')
//- p A game of lasers and mirrors for two players.
//- p Download:
//- ul
//-   li
//-     a(href='files/LauzerWars.zip') Windows
//-   li
//-     a(href='files/LauzerWars_OSX.zip') OSX
//-   li
//-     a(href='files/LauzerWars_linux.zip') Linux
//- hr
//-
//- // Lister
//- h2 Lister
//- img(src='images/lister-screenshot.png')
//- p.
//-   A simple Android todo app that lets users share their todo
//-   lists with each other. Python backend.
//- ul
//-   li
//-     a(href='https://github.com/Dexterminator/Lister') Lister on GitHub
//- hr
//-
//- // Remote Goat
//- h2 Remote Goat
//- img#goat-android(src='images/remote-goat-android.png')
//- img#goat-desktop(src='images/remote-goat.png')
//- p Collaborative beatboxing app and VST plugin, for the 24-hour hackathon MIDI HACK.
//- ul
//-   li
//-     a(href='https://www.youtube.com/watch?v=_Ls9B8dvadk#t=5651') Live demo from MIDI HACK
//-   li
//-     a(href='https://www.youtube.com/watch?v=oEk8n4UQNv4') Another live demo (clearer sound).
//-   li
//-     a(href='https://github.com/bystam/remote-goat') Remote Goat on GitHub
//- hr
//-
//- // Traffic simulator
//- h2 Traffic simulator
//- img(src='images/traffic-simulator.png')
//- p Computer graphics project in simulating a highway, with autonomous lane switching. Made with Unity.
//- ul
//-   li
//-     a(href='https://github.com/Dexterminator/traffic-simulator') Traffic simulator on GitHub
//- hr
//-
//- // Text-to-song synthesis
//- h2 Text-to-song synthesis
//- p.
//-   Bachelor's thesis in algoritmhically generating emotionally expressive song.
//- ul
//-   li
//-     a(href='https://www.kth.se/social/upload/534ba18bf276544cc64d796d/rapport19.DGramfors.A.Johansson.pdf') Thesis
//-   li
//-     a(href='https://github.com/andreascmj/text-to-song-synthesis') Text-to-song synthesis on GitHub
//- hr
