section.rps
  div
        img.rps-header(src='images/rock-paper-secrets-logo.png')
        img.rps-image(src='images/rps-image.png')
        div.icons
            a(href='https://super.magfest.org/indie-arcade-showcase/indie-arcade-2025-showcase' target='_blank')
                img(src='images/external-link.svg')
        div.description
            p Rock, Paper, Secrets is an auto-battler where you strategically place your units in lanes, while a physical curtain shows and hides the opposing side.
