section.solemates
  div
        img.solemates-header(src='images/solemates.png')
        a(href='https://dexterminator.itch.io/solemates' target='_blank')
            img.screenshot(src='images/solemates-clip.gif')
        div.icons
            a(href='https://dexterminator.itch.io/solemates' target='_blank')
                img(src='images/itchdotio.svg')
        div.description
            p.
                Solo Global Game Jam 2021 submission. Theme: Lost & Found).
