section.solemates
  div
        img.solemates-header(src='images/solemates.png')
        img.screenshot(src='images/solemates-clip.gif')
        div.description
            p.
                Solo Global Game Jam 2021 submission. Theme: Lost & Found.
