section.speglar
  div
        img.speglar-header(src='images/speglar-logo.png')
        iframe.screenshot(width='560' height='315' src='https://www.youtube.com/embed/cNLjfEH2hq0?si=Sjfz4GV0xsWAu1mU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
        div.icons
            a(href='https://store.steampowered.com/app/2772890/Speglar/' target='_blank')
                img(src='images/steam.svg')
        div.description
            p.
                Frantic 4-player laser ricocheting top-down shooter. Keep it casual and enjoy the chaos, or master the surprisingly deep mechanics to obliterate your enemies.
                Duke it out locally in free-for-all or 2v2.
            a(href='/speglar-press-kit' target='_blank') Press kit
