section.speglar
  div
        h1 SPEGLAR
        img.screenshot(src='images/speglar-clip.gif')
        div.description
            p.
                Arcade game.
                Use mirrors scattered across a top-down 4-player arena to set up the perfect ricochet shot to take your enemies out.
            p.
                #[a(href="https://www.deathbyaudioarcade.com/wondercab" target="_blank") Wondercab] fall 2022 residency.
