section.speglar
  div
        img.speglar-header(src='images/speglar-logo.png')
        a(href='https://twitter.com/DexterGramfors/status/1649840771099418624' target='_blank')
            img.screenshot(src='images/speglar-clip.gif')
        div.icons
            a(href='https://dexterminator.itch.io/speglar' target='_blank')
                img(src='images/itchdotio.svg')
        div.description
            p.
                Arcade game, playable now at #[a(href="https://www.brooklan.com/" target="_blank") BrookLAN] in NYC.
                Use mirrors scattered across a top-down 4-player arena to set up the perfect ricochet shot to take your enemies out.
