section.speglar
  div
        img.speglar-header(src='images/speglar-logo.png')
        iframe.speglar-trailer(src='https://www.youtube.com/embed/cNLjfEH2hq0?si=Sjfz4GV0xsWAu1mU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
        div.icons
            a(href='https://speglargame.com/' target='_blank')
                img(src='images/external-link.svg')
            a(href='https://store.steampowered.com/app/2772890/Speglar/' target='_blank')
                img(src='images/steam.svg')
        div.description
            p
                | Frantic 4-player laser ricocheting top-down shooter, available on 
                a(href='https://store.steampowered.com/app/2772890/Speglar/' target='_blank') Steam
                |  and as an 
                a(href='https://speglargame.com/' target='_blank') arcade cabinet.
            a(href='/speglar-press-kit' target='_blank') Press kit
