@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@light-grey: #F5F5F5;
@mid-grey: #E9E9E9;
@dark-green: #006666;
@green: #00bcbb;
@dark-grey: #424242;
@orange: #ff9736;
@pagewrap-width: 980px;

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

h1 {
  font-weight: 300;
  font-size: 70px;
  color: @dark-grey;
}

h2 {
  font-size: 35px;
  font-weight: 300;
  color: @dark-grey;
}

h3 {
  color: @dark-grey;
}

h4 {
  font-weight: 400;
  color: @dark-grey;
}

a {
  text-decoration: none;
  color: @green;
  cursor: pointer;
  &:hover {
    color: rgba(0, 188, 187, 0.61);
  }
  transition: color 0.5s ease;
}

img {
  border-radius: 6px;
  max-width: 100% !important;
  height: auto;
  display: block;
}

ul {
  color: @dark-grey
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#pagewrap {
  width: @pagewrap-width;
  margin: 0 auto;
}

.content {
  margin: auto;
  width: 70%;
}

#header {
  position: relative;
  height: 70px;
}

#main-nav {
  font-size: 23px;
  height: inherit;
  background-color: @mid-grey;
  width: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;
  position: fixed;
  font-weight: 300;
  display: flex;
  justify-content: center;

  ul {
    width: @pagewrap-width / 1.1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    display: flex;
    list-style: none;

    a {
      &:hover {
        transition: color 0.2s;
        color: #00a3a2
      }
    }

    .active {
      color: @orange;
      &:hover {
        color: @orange;
      }
    }
  }
}

#whatshappening-1 {
  display: inline-block;
  padding-right: 4px;
}

#whatshappening-2{
  display: inline-block;
}

#goat-android {
  display: inline-block;
  padding-right: 4px;
}

#goat-desktop {
  display: inline-block;
}

#small-projects{
  li {
    margin-bottom: 10px;
  }
}

#contact-filler {
  height: 70vh;
}

#me-header {
  font-weight: 900;
}

.section-header {
  padding-top: 70px;
}
