@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@size: 18px;
// Mixin styles

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

img {
  border-radius: 6px;
}

#pagewrap {
  width: 980px;
  margin: 0 auto;
}

.content {
  margin: auto;
  width: 70%;
}

#nav {
  list-style-type: none;
}