h1#contact-header.section-header CONTACT
hr
div
  a(href='mailto:dexter.gramfors@gmail.com') dexter.gramfors@gmail.com
div
  a(href='https://www.linkedin.com/in/dextergramfors', target='_blank') www.linkedin.com/in/dextergramfors
#contact-filler