h1#cv-header.section-header CV
p My work experience and education.
hr
h2 Education
ul
  li
    h4 Master's degree, Computer Science - Royal Institute of Technology #[br](2011-2016)
    p.
      A broad knowledge base in programming and computer science, through courses
      in several programming languages (such as Java, C, and Haskell), as well as database
      technology, algorithms and complexity, software engineering, concurrent programming,
      and much more.
  li
    h4 High School Diploma, Natural Sciences - Östra Reals gymnasium #[br] (2007-2010)
    p.
      Specialisation: Music. Musical as final project.
h2 Experience
ul
  li
    h4 Digpro AB, Market leader in geographic IT in Scandinavia #[br] (2013-2016)
    p.
      #[em Software Developer:] Development and maintenance using Java and Oracle Spatial databases, in applications
      that handle the administration of power, communication, gas, heating, and water.
  li
    h4 Spoon Publishing AB, Sweden's largest content agency #[br] (2012-2013)
    p.
      #[em Webmaster:] Managing Sandvik Mining and Clas Ohlson’s news portals, trough formatting and publishing articles.
  li
    h4 DMG Interactive, Digital publisher #[br] (2010-2011)
    p.
      #[em Webmaster:] Production and publishing of ads and other content on a portal website, as well as responsibility for contact with advertisers.
h2 Extracurricular Activities
ul
  li
    h4 Studs, Project at the Royal Institute of Technology #[br] (2014-2015)
    p.
      #[em Chief of IT and Communications:] Part of the management group and responsible for the website, social media presence, and other IT issues in a project designed
      to bring students and companies together.
h2 Competence
ul
  li
    h4 Programming languages
    p.
      #[em Proficient] - Java, Python, JavaScript, Clojure#[br]
      #[em Working knowledge] – Go, C, SQL, Cassandra#[br]
      #[em Basic knowledge] – Haskell, Prolog, C++, Ruby, PHP, C#
  li
    h4 Technologies and frameworks
    p.
      #[em Proficient] - Git, re-frame, HTML, CSS
      #[em Working knowledge] – Android#[br]
      #[em Basic knowledge] – Django, Ruby on Rails, React
  li
    h4 Languages
    p.
      #[em Native] – Swedish#[br]
      #[em Fluent] – English#[br]
      #[em Conversational level] - French
