hr
h1(id='cv-header') CV
p My work experience and education.
hr
h2 Education
ul
  li
    h4 Master's degree, Computer Science - Royal Institute of Technology – 2011-
    p.
      A broad knowledge base in programming and computer science, through courses
      in several programming languages (such as Java, C, and Haskell), as well as database
      technology, algorithms and complexity, software engineering, concurrent programming,
      and much more.
  li
    h4 High School Diploma, Natural Sciences - Östra Reals gymnasium – 2005-2008
    p.
      Specialisation: Music. Musical as final project.
h2 Experience
ul
  li
    h4 Digpro AB, Market leader in geographic IT in Scandinavia - 2013-
    p.
      Development and maintenance using Java and Oracle Spatial databases, in applications
      that handle the administration of power, communication, gas, heating, and water.
  li
    h4 Spoon Publishing AB, Sweden's largest content agency – 2012-2013
    p.
      Maintenance of Sandvik Mining and Clas Ohlson's news portals, in the form of
      formatting and publishing articles.
  li
    h4 DMG Interactive, Digital publisher – 2010-2011
    p.
      Producing and publishing of ads and other content for a web page, and responsibility for customer contact with the adverstisers.
