header#header
  nav#main-nav
    a.main-name(href='/') Dexter Gramfors
    ul
      li
        a(href='/', class={active: currentPage === 'index'}) Me
      li
        a(href='projects', class={active: currentPage === 'projects'}) Projects
      li
        a(href='cv', class={active: currentPage === 'cv'}) CV
      li
        a(href='contact', class={active: currentPage === 'contact'}) Contact
