header#header
  nav
    ul#main-nav
      li
        a(href='/', class={active: currentPage === 'index'}) Dexter Gramfors
      li
        a(href='projects', class={active: currentPage === 'projects'}) Projects
      li
        a(href='cv', class={active: currentPage === 'cv'}) CV
      li
        a(href='contact', class={active: currentPage === 'contact'}) Contact