header#header
  nav#main-nav
    a.main-name(href='/') Dexter Gramfors
    ul
      li
        a#me-nav Me
      li
        a#projects-nav Projects
      li
        a#cv-nav CV
      li
        a#contact-nav Contact
