extends partials/layout

block content
  include partials/me
  include partials/speglar
  include partials/imperimetric
  include partials/clj-templates
    //- include partials/projects
    //- include partials/cv
    //- include partials/contact
