extends partials/layout

block content
  include partials/me
  include partials/speglar
  include partials/rock-paper-secrets
  include partials/solemates
  include partials/imperimetric
  include partials/clj-templates