doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Dexter Gramfors
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='images/favicon.ico')
    script(src='https://code.jquery.com/jquery-git2.min.js')
    script(src='vendor/lodash.js')
    block files
  body
    #pagewrap
      include header
      block content
