doctype html
html
  head
    title Dexter Gramfors
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-git2.min.js')
    script(src='vendor/lodash.js')
  body
    block content
