h1#me-header DEXTER GRAMFORS
p Who's that?
hr
br
#me-images
  img.active-image(src='images/me.png')
  img.disabled-image(src='images/guitar.png')
  img.disabled-image(src='images/att_park.png')
p#about-me.
  A 25-year-old Swedish software engineer, working at TriOptima AB.
  I like to code, play video games and electric guitar, and to learn new things.
p Some me-related links:
  ul
    li
      a(href='https://open.spotify.com/artist/7d1pdBgOSmlO8kP4E0w8Ug', target='_blank') My band,
      a(href='http://www.reverbnation.com/fatherandson', target='_blank') &nbsp;Father & Son
    li
      a(href='https://trakt.tv/users/dexterminator/ratings/movies/all/highest', target='_blank') Movies I've rated
    li
      a(href='http://www.kth.se/en', target='_blank') Where I study
    li
      a(href='http://www.trioptima.com/', target='_blank') Where I work
