extends layout
block content
  .content
    h1 Projects
    p Programming projects I have worked on.
    hr

    // Lauzer Wars
    h2 Lauzer Wars
    img(src='images/lauzer-screenshot2.png', width='300px')
    p #[em A game of lasers and mirrors for two players.]
    p Download:
    ul
      li
        a(href='files/LauzerWars.zip') Windows
      li
        a(href='files/LauzerWars_OSX.zip') OSX
      li
        a(href='files/LauzerWars_linux.zip') Linux
    hr
    h2 what's hAppening
    img#whatshappening-1(src='images/whatshappening-screenshot.png')
    img#whatshappening-2(src='images/whatshappening-screenshot-2.png')
    p
      em.
        Project assignment at KTH, together with nine other students.
        An app that visualizes clusters of instagram posts, and displays
        media from them. Currently not available.
    hr

    // Lister
    h2 Lister
    img(src='images/lister-screenshot.png')
    p
      em.
        A simple Android todo app that lets users share their todo
        lists with each other. Python backend.
    ul
      li
        a(href='https://github.com/Dexterminator/Lister') Lister on GitHub
    hr
    h2 Remote Goat
    img#goat-android(src='images/remote-goat-android.png')
    img#goat-desktop(src='images/remote-goat.png')
    p
      em.
        Collaborative beatboxing app and VST plugin, for the 24-hour hackathon MIDI HACK.
    ul
      li
        a(href='https://www.youtube.com/watch?v=_Ls9B8dvadk#t=5651') Live demo from MIDI HACK
      li
        a(href='https://www.youtube.com/watch?v=oEk8n4UQNv4') Another live demo (clearer sound).
      li
        a(href='https://github.com/bystam/remote-goat') Remote Goat on GitHub
    hr

    // Text-to-song synthesis
    h2 Text-to-song synthesis
    p
      em Bachelor's thesis in algoritmhically generating emotionally expressive song.
    ul
      li
        a(href='https://www.kth.se/social/upload/534ba18bf276544cc64d796d/rapport19.DGramfors.A.Johansson.pdf') Thesis
      li
        a(href='https://github.com/andreascmj/text-to-song-synthesis') Text-to-song synthesis on GitHub
    hr
    h2 Traffic simulator
    img(src='images/traffic-simulator.png')
    p
      em Computer graphics project in simulating a highway, with autonomous lane switching. Made with Unity.
    ul
      li
        a(href='https://github.com/Dexterminator/traffic-simulator') Traffic simulator on GitHub
