extends layout
block content
  h1 Projects
  .content
    p Programming projects I have worked on.
    hr
    h2 Lauzer Wars
    img(src='images/lauzer-screenshot2.png', width='300px')
    p #[em A game of lasers and mirrors for two players.]
    p Download:
    ul
      li
        a(href='files/LauzerWars.zip') Windows
      li
        a(href='files/LauzerWars_OSX.zip') OSX
      li
        a(href='files/LauzerWars_linux.zip') Linux
    hr
    h2 what's hAppening
    img(src='images/whatshappening-screenshot.png')
    img(src='images/whatshappening-screenshot-2.png')
    p
      em.
        Project assignment at KTH, together with nine other students.
        An app that visualizes clusters of instagram posts, and displays
        media from them. Currently not available.
    hr
