extends partials/layout

block content
    h4(style='text-align: center') Prototype
    img(style='height: 50vh' src='images/rock-paper-secrets/rock-paper-secrets-prototype.png')
    h4(style='text-align: center') Sketch of final build
    img(style='height: 50vh' src='images/rock-paper-secrets/rock-paper-secrets-final-build-sketch.jpg')
