extends partials/layout

block content
    div.rock-paper-secrets
        div(style='text-align: center') Prototype
        img(style='height: 50vh' src='images/rock-paper-secrets/rock-paper-secrets-prototype.png')
        div(style='text-align: center') Sketch of final build
        img(style='height: 50vh' src='images/rock-paper-secrets/rock-paper-secrets-final-build-sketch.jpg')
        div(style='text-align: center') Screenshots
        img(style='height: 50vh' src='images/rock-paper-secrets/rock-paper-secrets-title.png')
        img(style='height: 35vh' src='images/rock-paper-secrets/buy-phase.png')
        img(style='height: 70vh' src='images/rock-paper-secrets/battle-phase.png')
