@import 'nib'
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


color-light-grey = #F5F5F5
color-mid-grey = #E9E9E9
color-dark-green = #006666
color-green = #00bcbb
color-dark-grey = #424242
color-orange = #ff9736

breakpoint-medium = 600px
breakpoint-large = 890px

pagewrap-width-small = 90%
pagewrap-width-large = 800px

body
  font-family 'Jura', sans-serif
  overflow hidden
  font-size 1.4rem
  color color-dark-grey
  margin 0
  padding 0

main
  padding 0
  margin 0
  width 100%
  height 100vh
  overflow-y scroll
  scroll-snap-points-y repeat(100vh)
  scroll-snap-type: y mandatory
  -ms-overflow-style none /* IE and Edge */
  scrollbar-width none /* Firefox */
  &::-webkit-scrollbar
    display none

section
  width 100%
  height 100vh
  display flex
  align-items flex-start
  scroll-snap-align center
  div
    margin 0 auto

section.me
  background-color white

section.imperimetric
  background-color rgb(14, 105, 108)
  color white
  h1
    font-family 'Pacifico', cursive
    margin-top 0.3rem

img#imperimetric-screenshot
  width 90%
  @media (min-width breakpoint-medium)
    max-width 80vh

h1
  margin-top 0.3em
  margin-bottom 0.5em
  text-align center
  font-size 3rem
  @media (min-width breakpoint-medium)
    font-size 4.2rem

h2
  font-size 2.5rem

img
  display block 
  margin 0 auto

hr
  border 0
  height 0
  border-top 1px solid rgba(0, 0, 0, 0.1)
  border-bottom 1px solid rgba(255, 255, 255, 0.3)

#me-header
  text-align center

.description
  margin 0 auto
  margin-top 2em
  max-width 20em
